<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Pizza Store</a>
    <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Product List <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Store</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Checkout</a>
            </li>
        </ul>
    </div>
</nav>


<ul nz-menu nzMode="horizontal" nzTheme="dark">
    <a class="navbar-brand mx-5 ml-3" href="#">Pizza Store</a>

    <li nz-submenu nzOpen nzTitle="Navigation One" nzIcon="mail">
    </li>
    <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
    </li>
    <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
    </li>
</ul>